{% set extension = config.theme.production ? '.min' : '' %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>
				{% if header.title %}
					{{ header.title|e }}
					|
				{% endif %}
				{{ site.title|e }}</title>

			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			{% include 'partials/metadata.html.twig' %}

			<meta http-equiv="cache-control" content="no-cache"/>
			<meta http-equiv="Pragma" content="no-cache"/>
			<meta http-equiv="Expires" content="-1"/>

			<link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}"/>
			<link
			rel="canonical" href="{{ page.url(true, true)|e }}"/>


		{# {% block stylesheets %}
		            {% do assets.addCss('theme://dist/css/site' ~ extension ~ '.css', 98) %}
		        {% endblock %} #}

		{% endblock head %}

		{% block javascripts %}{% endblock %}

		{% block assets deferred %}
			{{ assets.css()|raw }}
			{{ assets.js()|raw }}
		{% endblock %}
		<link rel="stylesheet" href="/user/themes/knotentheme/dist/css/site.min.css">

	</head>
	<body id="top" class="flex flex-col min-h-screen dark:bg-darkGray dark:text-white {{ page.header.body_classes|e }} {{ config.theme.production ?: 'debug-screens' }}"></body>


	{% block header %}

		<div class="w-5/6 max-w-screen-md mx-auto">
			<div class="relative flex flex-wrap items-center justify-between gap-4 mt-8">
				<a class="block md:-ml-8" href="{{ base_url|e }}">

					<svg class="rotate-logo max-h-24 dark:fill-white" height="105" viewbox="0 0 106 105" width="106" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<clipPath id="a"><path d="m0 0h106v105h-106z"/></clipPath>
						<g clip-path="url(#a)" ><path d="m2.40591 41.4871h3.0071c2.09233 0 5.41279-1.4742 5.41279-5.431l-.0006-12.0189c.0312-.6536.2832-.6536.602-.6536h9.0213c1.3285 0 2.4056-1.0807 2.4056-2.4138 0-1.333-1.0771-2.4137-2.4056-2.4137h-8.8355c-2.12899 2.6642-4.00722 5.5384-5.59858 8.587v8.913c0 .3198 0 .5726-.60141.6034h-3.0071c-.08299 0-.16178.0163-.24237.0247-.424 1.4405-.79207 2.9056-1.09518 4.395.3831.257.84259.4079 1.33755.4079z"/><path d="m44.5052 5.28018c1.3285 0 2.4056-1.08077 2.4056-2.41379s-1.0771-2.413794-2.4056-2.413794h-5.3172c-4.1943 1.127844-8.1829 2.759564-11.8978 4.827584z"/><path d="m84.1988 39.0733c0 1.333 1.0771 2.4138 2.4056 2.4138h9.0213c2.0923 0 5.4123-1.4742 5.4123-5.431 0-2.0994-1.4688-5.4311-5.4123-5.4311h-15.0355c-1.3285 0-2.4056 1.0808-2.4056 2.4138s1.0771 2.4138 2.4056 2.4138h15.0355c.3188 0 .5707 0 .6014.6035 0 .3198 0 .5726-.6014.6034h-9.0213c-1.3285 0-2.4056 1.0808-2.4056 2.4138z"/><path d="m70.9677 63.2112c0-1.333-1.0772-2.4138-2.4057-2.4138h-18.0426c-1.3285 0-2.4056 1.0808-2.4056 2.4138s1.0771 2.4138 2.4056 2.4138h18.0426c1.3285 0 2.4057-1.0808 2.4057-2.4138z"/><path d="m44.5052 48.7284c-1.3285 0-2.4057 1.0808-2.4057 2.4138v9.0518c0 .3198 0 .5726-.6014.6034h-3.0071c-1.3285 0-2.4057 1.0808-2.4057 2.4138s1.0772 2.4138 2.4057 2.4138h3.0071c2.0923 0 5.4128-1.4742 5.4128-5.431v-9.0518c0-1.333-1.0772-2.4138-2.4057-2.4138z"/><path d="m76.9818 63.2112v-3.0172c0-2.0994-1.4693-5.4311-5.4128-5.4311h-3.0071c-1.3285 0-2.4057 1.0808-2.4057 2.4138s1.0772 2.4138 2.4057 2.4138h3.0071c.3188 0 .5708 0 .6014.6035v3.0172c0 1.333 1.0772 2.4138 2.4057 2.4138s2.4057-1.0808 2.4057-2.4138z"/><path d="m76.9819 51.1423c0-1.333-1.0772-2.4138-2.4057-2.4138h-24.0568c-1.3285 0-2.4056 1.0808-2.4056 2.4138s1.0771 2.4138 2.4056 2.4138h24.0568c1.3285 0 2.4057-1.0808 2.4057-2.4138z"/><path d="m46.9109 8.90085c0-1.33302-1.0771-2.41379-2.4057-2.41379h-15.0354c-3.9435 0-5.4128 3.33164-5.4128 5.43104v15.0862c0 1.333 1.0771 2.4138 2.4057 2.4138 1.3285 0 2.4057-1.0808 2.4057-2.4138l-.0006-15.0361c.0312-.6536.2832-.6536.602-.6536h15.0354c1.3286 0 2.4057-1.0807 2.4057-2.41375z"/><path d="m38.491 17.3492h30.0709c1.3286 0 2.4057-1.0808 2.4057-2.4138 0-1.3331-1.0771-2.4138-2.4057-2.4138h-30.0709c-1.3285 0-2.4057 1.0807-2.4057 2.4138 0 1.333 1.0772 2.4138 2.4057 2.4138z"/><path d="m60.1421 2.86639c0 1.33302 1.0771 2.41379 2.4057 2.41379h16.0121c-3.7149-2.06802-7.7035-3.69974-11.8978-4.827584h-4.1143c-1.3286 0-2.4057 1.080774-2.4057 2.413794z"/><path d="m12.0286 27.0043v3.0173c0 2.0994 1.4692 5.431 5.4127 5.431h15.0355c1.3285 0 2.4057-1.0808 2.4057-2.4138s-1.0772-2.4138-2.4057-2.4138h-15.0355c-.3187 0-.5707 0-.6014-.6034v-3.0173c0-1.333-1.0771-2.4138-2.4057-2.4138-1.3285 0-2.4056 1.0808-2.4056 2.4138z"/><path d="m52.9251 5.88363v-3.01724c0-1.33302-1.0771-2.413792-2.4057-2.413792-1.3285 0-2.4056 1.080772-2.4056 2.413792v3.01724c0 2.0994 1.4692 5.43107 5.4127 5.43107h33.7071c-2.0731-1.77296-4.2839-3.389-6.6144-4.82762h-27.0927c-.3187 0-.5707 0-.6014-.60345z"/><path d="m68.5619 35.4526c1.3286 0 2.4057-1.0808 2.4057-2.4138s-1.0771-2.4138-2.4057-2.4138h-27.0638c-.3188 0-.5708 0-.6014-.6034v-3.0173c0-1.333-1.0772-2.4138-2.4057-2.4138s-2.4057 1.0808-2.4057 2.4138v3.0173c0 2.0994 1.4693 5.431 5.4128 5.431z"/><path d="m72.1704 14.9354c0 1.333 1.0772 2.4138 2.4057 2.4138h18.668c-1.4464-1.7054-2.9963-3.319-4.6435-4.8276h-14.0245c-1.3285 0-2.4057 1.0807-2.4057 2.4138z"/><path d="m70.9677 27.0043c0-1.333-1.0772-2.4138-2.4057-2.4138h-18.0426c-1.3285 0-2.4056 1.0808-2.4056 2.4138s1.0771 2.4138 2.4056 2.4138h18.0426c1.3285 0 2.4057-1.0808 2.4057-2.4138z"/><path d="m24.057 87.3491v3.0173c0 2.0994 1.4693 5.431 5.4128 5.431h36.0851c2.0923 0 5.4127-1.4742 5.4127-5.431v-3.0173c0-1.333-1.0771-2.4137-2.4056-2.4137-1.3286 0-2.4057 1.0807-2.4057 2.4137v3.0173c0 .3198 0 .5727-.6014.6034h-36.0851c-.3188 0-.5708 0-.6014-.6034v-3.0173c0-1.333-1.0772-2.4137-2.4057-2.4137-1.3286 0-2.4057 1.0807-2.4057 2.4137z"/><path d="m88.6004 90.9698h-11.0173c-.3188 0-.5708 0-.6015-.6034v-3.0173c0-1.333-1.0771-2.4137-2.4056-2.4137-1.3286 0-2.4057 1.0807-2.4057 2.4137v3.0173c0 2.0994 1.4699 5.431 5.4128 5.431h4.9063c2.1555-1.4591 4.1973-3.0745 6.111-4.8276z"/><path d="m48.1138 87.3491c0 1.3331 1.0771 2.4138 2.4056 2.4138h12.0284c1.3285 0 2.4057-1.0807 2.4057-2.4138 0-1.333-1.0772-2.4137-2.4057-2.4137h-12.0284c-1.3285 0-2.4056 1.0807-2.4056 2.4137z"/><path d="m16.84 87.3492c0-1.3331-1.0772-2.4138-2.4057-2.4138h-2.8213c1.2564 1.5726 2.5994 3.0739 4.0241 4.4926.7157-.4182 1.2029-1.1875 1.2029-2.0788z"/><path d="m41.4981 103.039c-.5677 0-1.0789.075-1.5474.2 4.1522 1.05 8.498 1.61 12.9744 1.61 4.7518 0 9.3556-.632 13.737-1.81z"/><path d="m98.4123 24.5905h-20.8289c-3.9435 0-5.4128 3.3317-5.4128 5.4311v6.0345c0 .3198.0001.5726-.6014.6034h-57.1347c-1.3286 0-2.4057 1.0808-2.4057 2.4138s1.0771 2.4138 2.4057 2.4138h57.1347c2.0924 0 5.4128-1.4742 5.4128-5.431l-.0012-5.9844c.0313-.6536.2833-.6536.6026-.6536h23.3716c-.767-1.6576-1.6159-3.2683-2.5427-4.8276z"/><path d="m26.4626 97.0043c-.3295 0-.6435.067-.9292.1877 3.0679 1.8653 6.3408 3.423 9.7749 4.64h35.2335c3.5478-1.256 6.9223-2.8797 10.0774-4.8277z"/><path d="m22.8541 93.3836c0-1.333-1.0771-2.4138-2.4056-2.4138h-3.199c1.5733 1.4411 3.2332 2.7892 4.9719 4.0335.3892-.4291.6327-.9939.6327-1.6197z"/><path d="m84.1989 87.3491c0 1.3331 1.0771 2.4138 2.4056 2.4138h3.2669c1.5511-1.5176 3.0095-3.13 4.3657-4.8275h-7.6326c-1.3285 0-2.4056 1.0807-2.4056 2.4137z"/><path d="m77.5832 77.694c2.0923 0 5.4128-1.4743 5.4128-5.4311v-18.1034c0-.6035.3765-.6035.6014-.6035h22.2186c.02-.6016.034-1.2044.034-1.8103 0-1.0132-.031-2.0185-.087-3.0172h-22.1656c-3.9435 0-5.4128 3.3316-5.4128 5.431v18.1034c0 .3199 0 .5727-.6014.6035h-73.22749c.71569 1.6546 1.51317 3.2652 2.38643 4.8276z"/><path d="m.0342808 53.5561h2.3713892c1.32854 0 2.40568-1.0808 2.40568-2.4138s-1.07714-2.4138-2.40568-2.4138h-2.3184643c-.0559319.9987-.0872057 2.004-.0872057 3.0172 0 .6059.0138326 1.2087.0342808 1.8104z"/><path d="m26.4626 65.625c1.3285 0 2.4057-1.0808 2.4057-2.4138s-1.0772-2.4138-2.4057-2.4138h-25.693191c.280261 1.636.635101 3.246 1.060901 4.8276z"/><path d="m11.4272 83.7284h83.7475c2.2902-3.0407 4.2611-6.3362 5.8643-9.8362v-7.6638c0-2.0993-1.4697-5.431-5.4132-5.431h-6.0142c-.6014 0-.6014-.3777-.602-.5533.0313-.6536.2833-.6536.602-.6536h15.6624c.234-1.5877.398-3.1977.489-4.8276h-16.1514c-3.9435 0-5.4127 3.3317-5.4127 5.4311 0 3.9568 3.3204 5.431 5.4127 5.431h6.0142c.3188 0 .5707 0 .6014.6034v12.069c0 .3198 0 .5727-.6014.6035h-84.1986c-1.4145 0-2.50609.4326-3.33003 1.0795.86905 1.3862 1.80064 2.7294 2.78993 4.025.0993-.277.3008-.277.5401-.277z"/><path d="m20.4485 47.5215c1.3285 0 2.4057-1.0807 2.4057-2.4137 0-1.3331-1.0772-2.4138-2.4057-2.4138h-19.679009c-.271841 1.5864-.474519 3.1958-.602621 4.8275z"/><path d="m.576356 59.5905h34.907544c3.9435 0 5.4127-3.3316 5.4127-5.431v-3.0173c0-1.333-1.0771-2.4138-2.4056-2.4138-1.3286 0-2.4057 1.0808-2.4057 2.4138v3.0173c0 .6034-.3765.6034-.6014.6034h-35.3964977c.0908147 1.6299.2543997 3.2399.4889537 4.8276z"/><path d="m84.1989 75.2802c0 1.333 1.0771 2.4138 2.4056 2.4138h3.0071c2.0924 0 5.4128-1.4743 5.4128-5.4311 0-2.0994-1.4693-5.431-5.4128-5.431h-3.0071c-1.3285 0-2.4056 1.0808-2.4056 2.4138s1.0771 2.4138 2.4056 2.4138h3.0071c.3188 0 .5708 0 .6014.6034 0 .3199 0 .5727-.6014.6035h-3.0071c-1.3285 0-2.4056 1.0808-2.4056 2.4138z"/><path d="m24.0569 48.125c0 .3199 0 .5727-.6014.6035h-9.0213c-1.3285 0-2.4056 1.0808-2.4056 2.4138s1.0771 2.4138 2.4056 2.4138h9.0213c2.0923 0 5.4128-1.4737 5.4122-5.3798v-.0012c.0313-.6535.2832-.6535.602-.6535h76.2133c-.128-1.6317-.331-3.2411-.602-4.8276h-75.6113c-3.9435 0-5.4128 3.3316-5.4128 5.431z"/><path d="m76.9818 69.2457c0-1.333-1.0771-2.4138-2.4057-2.4138h-72.40532c.48474 1.6438 1.04586 3.2544 1.68036 4.8276h70.72496c1.3286 0 2.4057-1.0808 2.4057-2.4138z"/><path d="m36.0853 20.9698c0 1.3331 1.0772 2.4138 2.4057 2.4138h12.0284c1.3285 0 2.4056-1.0807 2.4056-2.4138 0-1.333-1.0771-2.4137-2.4056-2.4137h-12.0284c-1.3285 0-2.4057 1.0807-2.4057 2.4137z"/><path d="m94.8197 20.9698c0-1.333-1.0771-2.4137-2.4056-2.4137h-24.0568c-1.3285 0-2.4056 1.0807-2.4056 2.4137 0 1.3331 1.0771 2.4138 2.4056 2.4138h24.0568c1.3285 0 2.4056-1.0807 2.4056-2.4138z"/></g>
					</svg>

				</a>
				{% block header_navigation %}
					<nav class="my-4 main-nav">
						{% include 'partials/navigation.html.twig' %}
					</nav>
				{% endblock %}
			</div>
		</div>
	{% endblock %}

	{% block body %}
		<section class="flex-1 w-5/6 max-w-screen-md mx-auto py-14" id="body">
			<div class="prose">
				{% block content %}{% endblock %}
			</div>
		</section>
	{% endblock %}

	{% block footer %}
		<footer class="w-5/6 max-w-screen-md py-10 mx-auto">
			<p class="meta">{{ "THEME_KNOTENTHEME.LANGUAGE"|t|e}}</p>
			{% include 'partials/langswitcher.html.twig' %}
			<p class="mt-4 meta">Social Media</p>
			<ul>
				<li class="inline-block mr-2">
					<a href="https://twitter.com/metaknoten" target="_blank">Twitter</a>
				</li>
				<li class="inline-block mr-2">
					<a href="https://mastodon.social/@metaknoten" target="_blank">Mastodon</a>
				</li>
				<li class="inline-block mr-2">
					<a href="https://www.facebook.com/MetaKnoten-108029651880268" target="_blank">Facebook</a>
				</li>
				<li class="inline-block mr-2">
					<a href="https://www.instagram.com/metaknoten/" target="_blank">Instagram</a>
				</li>
				<li class="inline-block mr-2">
					<a href="https://www.youtube.com/channel/UCeqEKQtCLZwIZDvcJDZKlyg" target="_blank">Youtube</a>
				</li>
				<li class="inline-block mr-2">
					<a href="https://github.com/metaknoten" target="_blank">Github</a>
				</li>
			</ul>
			<p class="mt-4 meta">Newsletter</p>
			<ul>
				<li class="inline-block mr-2">
					<a href="https://listen.metaknoten.net/postorius/lists/verknuepft.listen.metaknoten.net/" target="_blank">verknuepft@listen.metaknoten.net</a>
				</li>
			</ul>
		</footer>
	{% endblock %}

	{% block bottom %}
		{{ assets.js('bottom')|raw }}
	{% endblock %}
</html></body></html>
