{% set extension = config.theme.production ? '.min' : '' %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
        <link rel="canonical" href="{{ page.url(true, true)|e }}" />
    {% endblock head %}

    {% block stylesheets %}
       {#  {% do assets.addCss('theme://dist/css/site.css') %} #}
       {% do assets.addCss('theme://dist/css/site' ~ extension ~ '.css', 98) %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {% endblock %}
</head>
<body id="top" class="flex flex-col min-h-screen border-t-8  border-t-black border-solid {{ page.header.body_classes|e }} {{ config.theme.production ?: 'debug-screens' }}"></body>


{% block header %}
<div class="max-w-screen-lg w-5/6 mx-auto">
    <div class="py-5 flex justify-between flex-wrap items-center">
            <a class="logo" href="{{ home_url|e }}">
                <img class="max-h-14" src="{{ url('theme://images/logo.png') }}" alt="{{ site.title }}"/>
            </a>
            {% block header_navigation %}
                <nav class="main-nav my-4">
                    {% include 'partials/navigation.html.twig' %}
                </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="flex-1 max-w-screen-lg w-5/6 mx-auto py-14" id="body">
        <div class="prose">
            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer class="w-full border-b-8 border-black">
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
