{% extends 'partials/base.html.twig' %}

{% block body %}
<div class="flex-1">
    {% set headerImageURL = page.media.images|first.url|e %}
    {% set bgImage = page.media.images|slice(1, 1)|first %}
    {% set logoImage = page.media.images|slice(2, 1)|first %}
    {% if bgImage %}
        {% set bgImageURL = bgImage.url|e %}
    {% endif %}
    {% if logoImage %}
        {% set logoImageURL = logoImage.url|e %}
    {% endif %}
        <section class="relative w-full py-10 bg-cover bg-center md:mt-8" style="background-image: url('{{ bgImageURL }}')">
            <img class="mx-auto block {{ smallHeaderImage ? 'max-w-sm' : 'max-w-md' }}" src="{{ logoImageURL }}"/>
        </section>
	<section class="relative w-5/6 max-w-screen-md py-6 mx-auto mt-4">
        {% block aboveTitle %}{% endblock %}
        <div class="flex flex-wrap items-center justify-between mb-4 md:flex-nowrap">
            <h1 class="my-4 text-3xl font-bold tracking-tight">{{page.title}}</h1>
            <div class="flex gap-x-2">
                <a class="button bg-black" href="#timetable">
                    <svg height="18" viewbox="0 0 21 22" width="18" xmlns="http://www.w3.org/2000/svg">
                        <g fill="#fff" transform="translate(.46455)"><path d="m17.6389129 1.62575494h-.8017615v-.15581854c0-.80176154-.645784-1.4699364-1.469936-1.4699364-.8017615 0-1.4699359.6457844-1.4699359 1.4699364v.15597364l-2.427516-.00015534v-.15581854c0-.80176154-.6457839-1.46993616-1.46993589-1.46993616-.80176154 0-1.46993593.64578416-1.46993593 1.46993616v.15597364l-2.4051653-.00015534v-.15581854c0-.80176153-.64578392-1.46993592-1.46993592-1.46993592-.82399292 0-1.46993592.64578392-1.46993592 1.46993592v.15597364h-.80176154c-1.31395831 0-2.383093 1.06897562-2.383093 2.383093v14.78804614c0 1.3139583 1.06897561 2.383093 2.383093 2.383093h15.2334692c1.3139583 0 2.383093-1.0689756 2.383093-2.383093v-14.81071499c.0223706-1.31395831-1.0467442-2.36070254-2.3607025-2.36070254zm-2.7838942-.15581854c0-.28957272.2227751-.51219677.5121967-.51219677.2895728 0 .5121968.22277517.5121968.51219677v1.24714484c0 .28957273-.2227752.51219677-.5121968.51219677-.2895727 0-.5121967-.22277517-.5121967-.51219677zm-5.34507694 0c0-.28957272.22277517-.51219677.51219674-.51219677.2895728 0 .5121968.22277517.5121968.51219677v1.24714484c0 .28957273-.2227752.51219677-.5121968.51219677-.28957269 0-.51219674-.22277517-.51219674-.51219677zm-5.34507692 0c0-.28957272.22277517-.51219677.51219677-.51219677.28957273 0 .51219677.22277517.51219677.51219677v1.24714484c0 .28957273-.22277517.51219677-.51219677.51219677-.28957272 0-.51219677-.22277517-.51219677-.51219677zm14.89940196 17.3046865c0 .7795699-.645784 1.4255092-1.4253539 1.4255092h-15.23346921c-.77956992 0-1.42535384-.6457839-1.42535384-1.4253538v-14.78804618c0-.77956992.64578392-1.42535384 1.42535384-1.42535384h.80176154v.15597364c0 .80176153.64578392 1.46993592 1.46993592 1.46993592.82399292 0 1.46993592-.64578392 1.46993592-1.46993592l-.00015534-.15597364h2.427516v.15597364c0 .80176153.64578392 1.46993592 1.46993597 1.46993592.8017615 0 1.4699359-.64578392 1.4699359-1.46993592v-.15597364h2.427516v.15597364c0 .80176153.6457839 1.46993592 1.4699359 1.46993592.8017615 0 1.4699359-.64578392 1.4699359-1.46993592v-.15597364h.8017616c.7795699 0 1.4253538.64578392 1.4253538 1.42535384v14.78804618z"/><path d="m5.70157446 10.5342562h-1.89312762c-.46777377 0-.84634361.3785898-.84634361.8463436v1.5367494c0 .4677738.37858973.8463436.84634361.8463436h1.89312762c.46777377 0 .84634361-.3785897.84634361-.8463436v-1.5367494c0-.4677737-.37858973-.8463436-.84634361-.8463436zm-.11138759 2.2716975h-1.69256792v-1.3363488h1.69256792z"/><path d="m10.9575668 10.5342562h-1.89312766c-.46777377 0-.84634361.3785898-.84634361.8463436v1.5367494c0 .4677738.37858973.8463436.84634361.8463436h1.89312766c.4677737 0 .8463436-.3785897.8463436-.8463436v-1.5367494c.0222151-.4677737-.3785898-.8463436-.8463436-.8463436zm-.089017 2.2716975h-1.69256797v-1.3363488h1.69256797z"/><path d="m16.2358302 10.5342562h-1.8931276c-.4677738 0-.8463436.3785898-.8463436.8463436v1.5367494c0 .4677738.3785897.8463436.8463436.8463436h1.8931276c.4677738 0 .8463436-.3785897.8463436-.8463436v-1.5367494c0-.4677737-.3785897-.8463436-.8463436-.8463436zm-.089017 2.2716975h-1.6925679v-1.3363488h1.6925679z"/><path d="m5.70157446 15.0775716h-1.89312762c-.46777377 0-.84634361.3785897-.84634361.8463436v1.5367494c0 .4677738.37858973.8463436.84634361.8463436h1.89312762c.46777377 0 .84634361-.3785897.84634361-.8463436v-1.5369085c0-.4676146-.37858973-.8461845-.84634361-.8461845zm-.11138759 2.2715384h-1.69256792v-1.3363488h1.69256792z"/><path d="m10.9575668 15.0775716h-1.89312766c-.46777377 0-.84634361.3785897-.84634361.8463436v1.5367494c0 .4677738.37858973.8463436.84634361.8463436h1.89312766c.4677737 0 .8463436-.3785897.8463436-.8463436v-1.5369085c.0222151-.4676146-.3785898-.8461845-.8463436-.8461845zm-.089017 2.2715384h-1.69256797v-1.3363488h1.69256797z"/><path d="m16.2358302 15.0775716h-1.8931276c-.4677738 0-.8463436.3785897-.8463436.8463436v1.5367494c0 .4677738.3785897.8463436.8463436.8463436h1.8931276c.4677738 0 .8463436-.3785897.8463436-.8463436v-1.5369085c0-.4676146-.3785897-.8461845-.8463436-.8461845zm-.089017 2.2715384h-1.6925679v-1.3363488h1.6925679z"/><path d="m5.70157446 5.99094085h-1.89312762c-.46777377 0-.84634361.37858973-.84634361.84634362v1.53674938c0 .46777377.37858973.84634362.84634361.84634362h1.89312762c.46777377 0 .84634361-.37858973.84634361-.84634362v-1.53674938c0-.46777377-.37858973-.84634362-.84634361-.84634362zm-.11138759 2.29392885h-1.69256792v-1.33634877h1.69256792z"/><path d="m10.9575668 5.99094085h-1.89312766c-.46777377 0-.84634361.37858973-.84634361.84634362v1.53674938c0 .46777377.37858973.84634362.84634361.84634362h1.89312766c.4677737 0 .8463436-.37858973.8463436-.84634362v-1.53674938c.0222151-.46777377-.3785898-.84634362-.8463436-.84634362zm-.089017 2.29392885h-1.69256797v-1.33634877h1.69256797z"/><path d="m16.2358302 5.99094085h-1.8931276c-.4677738 0-.8463436.37858973-.8463436.84634362v1.53674938c0 .46777377.3785897.84634362.8463436.84634362h1.8931276c.4677738 0 .8463436-.37858973.8463436-.84634362v-1.53674938c0-.46777377-.3785897-.84634362-.8463436-.84634362zm-.089017 2.29392885h-1.6925679v-1.33634877h1.6925679z"/></g>
                    </svg>
                    <span>{{ "THEME_KNOTENTHEME.TIMETABLE"|t|e}}</span>
                </a>
            </div>
        </div>
        {% block aboveContent %}{% endblock %}
		<div class="prose">
            {{ page.content|raw }}
            
            {% for module in page.collection() %}
                {{ module.content|raw }}
                {% if module.title == 'Programm' %}
                    {% include 'partials/timetable.html.twig' %}
                {% endif %}

            {% endfor %}
		</div>

	</section>
</div>
{% endblock %}
