{% extends 'partials/base.html.twig' %}

{% block body %}
<div class="flex-1">
    <section class="w-full bg-diwoBlue md:mt-8 py-10 relative" style="background-color: {{page.header.headerColor|e}}">
            {% set headerImageURL = page.media.images|first.url|e %}
            {% if page.parent.title == 'DIWO Week' %}
                {% set headerImageURL = page.parent.media.images|first.url|e %}
            {% endif %}            
            <img class="mx-auto block w-10/12 {{smallHeaderImage ? 'max-w-md' : 'max-w-3xl'}}" src="{{ headerImageURL }}"/>
            <div class="absolute bottom-10 left-20 inline-block  font-bold text-xl md:text-2xl " style="color: {{page.header.headerTextColor}}"> 
                {% block headerImageOverlay %}
                {% endblock %}
            </div>
    </section>
	<section class="relative max-w-screen-md md:w-4/6 mx-4 md:mx-20 mt-4 py-6">
        {% block aboveTitle %}{% endblock %}
        <div class="flex justify-between items-center mb-4 flex-wrap">
            <h1 class="font-bold tracking-tight text-3xl my-4">{{page.title}}</h1>
            <div class="flex gap-x-2">
                {% block mainButtons %}{% endblock %}
            </div>
        </div>
        {% block aboveContent %}{% endblock %}
		<div class="prose">
            {{ page.content|raw }}
            
            {% for module in page.collection() %}
                {{ module.content|raw }}
                {% if module.title == 'Programm' %}
                    {% include 'partials/timetable.html.twig' %}
                {% endif %}

            {% endfor %}
		</div>

	</section>
</div>
{% endblock %}
